*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgba(255, 0, 0, 0.467);
    background-color: rgba(255, 255, 255, 0.901);

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.804);
    color: rgba(255, 255, 255, 0.77);
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.458);
    color: rgba(255, 255, 255, 0.77);
    border-radius: 1rem;
    border: none;
    
}

#msg {
    color: rgb(241, 241, 173);
    font-size: 5vmin;
}

.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;


}

.hide{
    display: none;
}